<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loading Icon</title>
    
    <link rel="stylesheet" href="../../scss/views/Keyframes/loading_icon.css">
</head>
<body>
    <div class="container">
        <h1>This page takes forever to load.</h1>
        <div class="loader"></div>
        <h2>It will never load</h2>
        <img src="https://i.etsystatic.com/14449774/r/il/da71b3/1173059942/il_570xN.1173059942_hpl6.jpg" alt="">
    </div>
</body>
</html>
