<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translade</title>
    <link rel="stylesheet" href="../css/views/translate.css">
</head>
<body>

<div id="translateXandY">
    <h1>Transform: Translate</h1>
    <p></p>
    <p class="move-right"></p>
    <p></p>
    <p class="move-down"></p>
</div>

<div id="scale">
    <h1>Transform: Scale()</h1>
    <p>Hello</p>
    <p class="transformed">Hello</p>
</div>

<div id="rotate">
    <h1>Transform: Rotate</h1>
    <p>Hello</p>
    <p class="transformed">Hello</p>
</div>
</body>
</html>
