.packages {
    .grid li {
        padding: 50px;
        flex-basis: 50%;
        text-align: center;
        
        i { color: #8c9eff; }
        
        h4 {
            font-size: 30px;
            margin: 25px 0;
        }
    }
}

@media (max-width: 800px) {
    .packages .grid li {
        flex-basis: 100%;
        padding: 20px;
    }
}
