<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Holy Grail</title>
    
    <link rel="stylesheet" href="../../scss/views/Holy_Grail_Layout/styles.css">
</head>
<body>
<header>
    <a href="">Nav Left</a>
    <a href="">Nav Right</a>
</header>
<main>
    <article>MAIN CONTENT</article>
    <nav>SIDE NAV</nav>
    <aside>ASIDE</aside>
</main>
<footer>FOOTER</footer>
</body>
</html>
